#DATA TYPE AND STRUCTURES.

1. What are data structures, and why are they important?
 >> Data structures** are specialized forms used in computer applications to effectively handle, store, and organize data.  They have a direct impact on the speed, scalability, and readability of your code as they dictate how efficiently you can access, alter, and process data.  When developing a trading algorithm, web application, or machine learning model, selecting the appropriate data structure—such as lists, dictionaries, sets, or tuples—allows you to handle issues more quickly and with less resources.

2.Explain the difference between mutable and immutable data types with examples. explain it in a sentence?
>> While immutable data types like strings, integers, and tuples cannot be modified once declared (trying `my_tuple[0] = 1` causes an error), mutable data types like lists, dictionaries, and sets may be updated after creation (e.g., `my_list.append(5)`).

3.  What are the main differences between lists and tuples in Python?
>> Although lists and tuples are both used in Python to hold collections of things, their use cases and behaviors are very different.  Lists are perfect for dynamic data structures because they are changeable, which means that items may be added, deleted, or altered.  In contrast, tuples are safer for storing fixed data and help maintain data integrity since their elements cannot be changed once they are generated.  Because of their versatility, lists use more memory and iterate more slowly than tuples, which are more memory-efficient and iterate more quickly.  Tuples are more stable but have fewer built-in manipulation techniques than lists.  Depending on whether you need to change the data or give performance and dependability priority, you can choose between them.

4. Describe how dictionaries store data?
>> Python dictionaries use a structure known as a **hash table** to store data as **key-value pairs**.  In order to enable **fast access, insertion, and deletion**—usually in constant time—each key is hashed to establish its index in memory.  Values can be any type, but keys must be **immutable** (such as strings, integers, or tuples).  Starting with Python 3.7, dictionaries preserve **insertion order**, which means that objects are saved and retrieved in the same order as they were inserted.  Adding a value to an existing key will **overwrite** the old one; duplicate keys are not permitted.

5. Why might you use a set instead of a list in Python?
>>In Python, you may use a set rather than a list when you need to hold **unique elements** and run **quick membership tests**.  Because of their hash-based design, sets provide **average O(1) time complexity** for determining whether an item exists and automatically remove duplicates.  Although sets **do not support indexing or slicing** and are **unordered** in contrast to lists, they are excellent at operations like **union, intersection, and difference**, which makes them perfect for jobs involving distinct values or mathematical set logic.  When uniqueness is crucial and order is irrelevant, use sets.

6. What is a string in Python, and how is it different from a list?
>> In Python, a string is a **unchangeable string of characters** that is surrounded by quotes and used to represent text.  Its contents **cannot be changed** once formed, however characters can be accessed via slicing or indexing.  In contrast, a list is a **mutable collection** that may include any kind of item, including strings, and permits changes such as adding, deleting, or altering components.  Both allow for iteration and indexing, however strings are better suited for text manipulation while lists are more adaptable for dynamic data.

7.  How do tuples ensure data integrity in Python?
>> Because tuples are **immutable**—that is, their contents cannot be altered once they are created—they guarantee data integrity in Python.  Tuples are perfect for storing **fixed configurations, constants, or secure data** because of their immutability, which guards against unintentional mutation.  Tuples are **thread-safe** since they cannot be changed, and if they only include hashable objects, they may be used as **dictionary keys** or as elements in sets.  Their fixed structure reduces faults and improves dependability by ensuring that the data stays consistent throughout the application.

8.  What is a hash table, and how does it relate to dictionaries in Python?
>> A hash table is a type of data structure that allows for **quick data retrieval** by storing key-value pairs and utilizing a **hash function** to calculate an index for each key.  In Python, dictionaries are implemented using hash tables, meaning each key is hashed to determine where its value is stored in memory.  For the majority of operations, this permits **constant-time access**, insertion, and deletion.  Values may be of any kind, but keys must be **immutable and hashable**.  The hash table structure ensures efficient performance even with large datasets, and from Python 3.7 onward, dictionaries also **preserve insertion order**, combining speed with predictability.

9. Can lists contain different data types in Python?
>> Yes, Python lists can hold elements of different data types—like integers, strings, floats, booleans, or even other lists and dictionaries. This flexibility allows you to aggregate heterogeneous data in a single container, making lists ideal for dynamic and loosely structured datasets.

10.  Explain why strings are immutable in Python?
>> Strings are immutable in Python to ensure memory efficiency, thread safety, and reliable behavior when used as dictionary keys. Any modification creates a new string object, which prevents accidental changes and allows Python to optimize performance through internal caching and reuse.

11. What advantages do dictionaries offer over lists for certain tasks?
>>Dictionaries offer faster lookups (O(1) time) using keys, while lists require linear search (O(n)). They’re ideal for structured data with unique identifiers, like user profiles or configuration settings. Dictionaries also prevent duplicate keys and allow clearer, more semantic access to values.

12.  Describe a scenario where using a tuple would be preferable over a list?
>>Use tuples when you need fixed, unchangeable data—like coordinates, RGB values, or function return values. Their immutability ensures data integrity, and they’re faster and more memory-efficient than lists. Tuples can also be used as dictionary keys, unlike lists.

13. How do sets handle duplicate values in Python?
>>Sets in Python automatically eliminate duplicates. When you add an element that already exists, the set ignores it. This makes sets ideal for deduplication tasks, ensuring that only unique values are stored without manual checks.

14.  How does the “in” keyword work differently for lists and dictionaries?
>>In lists, the in keyword checks for the presence of a value by scanning each element—O(n) time. In dictionaries, it checks for the presence of a key using hashing—O(1) time. So, in is much faster and more efficient with dictionaries.

15. Can you modify the elements of a tuple? Explain why or why not?
>>No, tuples are immutable—you cannot change, add, or remove elements after creation. To "modify" a tuple, you must create a new one. This immutability helps preserve data integrity and allows tuples to be used as dictionary keys.

16.  What is a nested dictionary, and give an example of its use case?
>>A nested dictionary is a dictionary where values are themselves dictionaries. It’s useful for representing hierarchical data.
>>example :
employeeID = {
  "101": {"name": "Amit", "Dept.": "Marketing"},
  "102": {"name": "Sara", "Dept.": "Finance"}
}

17. Describe the time complexity of accessing elements in a dictionary?
>>Accessing a value by key in a Python dictionary has average time complexity of O(1), thanks to its hash table implementation. This allows for fast retrieval regardless of dictionary size, unless hash collisions occur, which are rare.

18.  In what situations are lists preferred over dictionaries?
>>Lists are better when order matters, or when you need to access elements by position. They’re ideal for sequences, stacks, queues, and simple collections without key-value relationships. Lists also use less memory and are easier to iterate sequentially.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
>> Historically, dictionaries didn’t preserve insertion order, focusing on fast key-based access. Since Python 3.7, they do maintain order, but they’re still considered unordered because their primary design is for mapping keys to values, not for sequential data.

20.  Explain the difference between a list and a dictionary in terms of data retrieval?
>>Lists retrieve data by index (e.g., my_list[2]), while dictionaries retrieve data by key (e.g., my_dict["name"]). Lists are ideal for ordered data; dictionaries excel at fast lookups and structured mappings. Dictionary access is typically faster and more semantic.

#PRACTICAL PART

In [1]:
#Write a code to create a string with your name and print it.

my_name = "Vaibhav"
print(my_name)
type(my_name)

Vaibhav

str

In [3]:
 #Write a code to find the length of the string "Hello World"

 openning = "Hello World"
 print(len(openning))

11

In [5]:
#Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
print(string[0:3])

Pyt

In [6]:
# Write a code to convert the string "hello" to uppercase.

string = "hello"
print(string.upper())

HELLO

In [9]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = "I like apples"
print(string.replace("apples", "oranges"))

I like oranges

In [15]:
#Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [16]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [17]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [18]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [19]:
#Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

In [21]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.

tpl = (100, 200, 300)
print(tpl)
type(tpl)

(100, 200, 300)

tuple

In [26]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tpl = ('red', 'green', 'blue', 'yellow')
print(len(tpl))
print(tpl[-2])
print(tpl[2])

4
blue
blue

In [27]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tpl = (10, 20, 5, 15)
print(min(tpl))

5

In [28]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tpl = ('dog', 'cat', 'rabbit')
print(tpl.index('cat'))

1

In [29]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)
#also that tuples aren't mutable

False

In [30]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)
type(my_set)

{'c', 'b', 'a'}

set

In [31]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [34]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [35]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [36]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [37]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dicton = {"name": "Vaibhav", "age": 20, "city": "Mumbai"}
print(my_dicton)
type(my_dicton)

{'name': 'Vaibhav', 'age': 20, 'city': 'Mumbai'}

dict

In [39]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dicton = {'name': 'John', 'age': 25}
print(my_dicton)
my_dicton["country"] = "USA"
print(my_dicton)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dicton = {'name': 'Alice', 'age': 30}
print(my_dicton["name"])

Alice

In [42]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dicton = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(my_dicton)
my_dicton.pop("age")
print(my_dicton)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [43]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dicton = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dicton)

True

In [50]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2.3, True, "Apple, Oranges"]
print(my_list)


my_tuple = (1, 2, 3, 4)
print(my_tuple)


my_dicton = {"name": "Vaibhav", "age": 20, "city": "Mumbai"}
print(my_dicton)

type(my_dicton)

type(my_list)

type(my_tuple)

[1, 2.3, True, 'Apple, Oranges']
(1, 2, 3, 4)
{'name': 'Vaibhav', 'age': 20, 'city': 'Mumbai'}

tuple

In [52]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

import random
my_list = [random.randint(1, 100) for _ in range(5)]
my_list.sort()
print(my_list)

[17, 37, 52, 91, 99]

In [56]:
#Write a code to create a list with strings and print the element at the third index.

my_fruit = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_fruit[2])

cherry

In [62]:
#Write a code to combine two dictionaries into one and print the result.

my_dic= {"empID":"AD542", "empDEPT.": "Finance", "empexp":"2 years"}
my_dict= {"empNAME": "Vaibhav", "empAGE": 33, "empCITY": "Mumbai"}
my_dic.update(my_dict)
print(my_dic)

{'empID': 'AD542', 'empDEPT.': 'Finance', 'empexp': '2 years', 'empNAME': 'Vaibhav', 'empAGE': 33, 'empCITY': 'Mumbai'}

In [66]:
#Write a code to convert a list of strings into a set

my_str = ["apple", "banana", "cherry"]
my_newset = set(my_str)

print(my_set)
type(my_newset)

{'apple', 'cherry', 'banana'}

set